#main {
    width: 800px;
    margin: auto;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    margin: 0px;
    background-color: white;
    display: inline-block;
}

.near-wumpus {
    background-color: salmon;
}

.player {
    background-color: mediumturquoise;
}

.wumpus {
    background-color: red;
}